/.venv/**
/.idea/**
**/__pycache__/
/dev
/node_modules/**
.env
/airflow/config/airflow.cfg
/airflow/logs/**
/data/output/**
/minio_storage/**
/jupyter-spark/jupyter-spark-workspace/dev/**
/airflow/scripts/.init_download
/dbt/logs/**
/dbt/target/**
/dbt/dbt_packages/**
/dbt/dbt_pipeline/logs/**
/dbt/dbt_pipeline/profiles/.user.yml
/airflow/scripts/load_promos.sh
/jupyter-spark/jupyter-spark-config/spark/**
/dbt/dbt_pipeline/target/**
