/.venv/**
/.idea/**
**/__pycache__/
/dev
/node_modules/**
.env
/airflow/config/airflow.cfg
/airflow/logs/**
/data/data_generator/data/**
/minio_storage/**
/jupyter-spark/jupyter-spark-workspace/dev/**
/airflow/pipeline_config/.download_flag
/airflow/pipeline_config/pipeline_config.yml
/dbt/logs/**
/dbt/target/**
/dbt/dbt_packages/**
/dbt/dbt_pipeline/logs/**
/dbt/dbt_pipeline/profiles/.user.yml
/jupyter-spark/jupyter-spark-config/spark/**
/dbt/dbt_pipeline/target/**
/jupyter-spark/spark-logs/**
