# Pre-commit that runs locally
fail_fast: false

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: check-yaml

  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v4.0.0-alpha.8
    hooks:
      - id: prettier
        files: '\.(yaml|yml)$'

  - repo: https://github.com/psf/black
    rev: 25.9.0
    hooks:
      - id: black
        language_version: python3.13

  - repo: https://github.com/pycqa/flake8
    rev: 7.3.0
    hooks:
      - id: flake8
        exclude: ^data/DataGenerator\.py$

  - repo: https://github.com/tconbeer/sqlfmt
    rev: v0.28.2
    hooks:
      - id: sqlfmt
        files: '\.(sql)$'

  #  - repo: https://github.com/dbt-checkpoint/dbt-checkpoint
  #    rev: v2.0.7
  #    hooks:
  #      - id: check-model-has-description
  #        args: ["--manifest", "dbt/dbt_pipeline/target/manifest.json"]
  #        files: ^(dbt/dbt_pipeline/models/).*$
  #      - id: check-model-has-tests-by-group
  #        args:
  #          [
  #            "--manifest",
  #            "dbt/dbt_pipeline/target/manifest.json",
  #            "--tests",
  #            "not_null",
  #            "--test-cnt",
  #            "1",
  #            "--",
  #          ]
  #        files: ^(dbt/dbt_pipeline/models/).*$
  #      - id: check-model-has-tests-by-group
  #        args:
  #          [
  #            "--manifest",
  #            "dbt/dbt_pipeline/target/manifest.json",
  #            "--tests",
  #            "unique",
  #            "unique_combination_of_columns",
  #            "--test-cnt",
  #            "1",
  #            "--",
  #          ]
  #        files: ^(dbt/dbt_pipeline/models/).*$
  #
  #      - id: check-macro-has-description
  #        args: ["--manifest", "dbt/dbt_pipeline/target/manifest.json"]
  #        files: ^(dbt/dbt_pipeline/macros/).*$
